In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('insurance.csv')

In [3]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [7]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [9]:
data.shape

(1338, 7)

In [10]:
data.age.count()

1338

In [11]:
print(f'age:{data.age.count()}')

age:1338

In [13]:
data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [14]:
print(f'age:{data.age.count()}')
print(f'sex:{data.sex.count()}')
print(f'count:{data.bmi.count()}')
print(f'children:{data.children.count()}')
print(f'smoker:{data.smoker.count()}')
print(f'region:{data.region.count()}')
print(f'charges:{data.charges.count()}')

age:1338
sex:1338
count:1338
children:1338
smoker:1338
region:1338
charges:1338

In [15]:
print(f'age:{data.age.nunique()}')
print(f'sex:{data.sex.nunique()}')
print(f'count:{data.bmi.nunique()}')
print(f'children:{data.children.nunique()}')
print(f'smoker:{data.smoker.nunique()}')
print(f'region:{data.region.nunique()}')
print(f'charges:{data.charges.nunique()}')

age:47
sex:2
count:548
children:6
smoker:2
region:4
charges:1337

In [16]:
print(f'age:{data.age.dtype}')
print(f'sex:{data.sex.dtype}')
print(f'count:{data.bmi.dtype}')
print(f'children:{data.children.dtype}')
print(f'smoker:{data.smoker.dtype}')
print(f'region:{data.region.dtype}')
print(f'charges:{data.charges.dtype}')

age:int64
sex:object
count:float64
children:int64
smoker:object
region:object
charges:float64

In [22]:
print(f'age:{pd.api.types.is_numeric_dtype(data.age)}')
print(f'sex:{pd.api.types.is_numeric_dtype(data.sex)}')
print(f'count:{pd.api.types.is_numeric_dtype(data.count)}')
print(f'children:{pd.api.types.is_numeric_dtype(data.children)}')
print(f'smoker:{pd.api.types.is_numeric_dtype(data.smoker)}')
print(f'region:{pd.api.types.is_numeric_dtype(data.region)}')
print(f'charges:{pd.api.types.is_numeric_dtype(data.charges)}')

age:True
sex:False
count:False
children:True
smoker:False
region:False
charges:True

In [24]:
print(f'age:{data.age.isnull().sum()}')
print(f'sex:{data.sex.isnull().sum()}')
print(f'count:{data.bmi.isnull().sum()}')
print(f'children:{data.children.isnull().sum()}')
print(f'smoker:{data.smoker.isnull().sum()}')
print(f'region:{data.region.isnull().sum()}')
print(f'charges:{data.charges.isnull().sum()}')

age:0
sex:0
count:0
children:0
smoker:0
region:0
charges:0

In [33]:
import numpy as np

print(data.charges.min())
print(data.charges.max())
print(data.charges.quantile(.25))
print(data.charges.quantile(.50))
print(data.charges.quantile(.75))
print(data.charges.mean())
print(data.charges.median())
print(data.charges.mode().values[0])

1121.8739
63770.42801
4740.28715
9382.033
16639.912515
13270.422265141257
9382.033
1639.5631

In [34]:
data.charges.std()

12110.011236694001

In [37]:
from scipy.stats import kurtosis,skew
print(skew(data.charges, bias=False))
print(kurtosis(data.charges, bias=False))

1.5158796580240383
1.6062986532967916